body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width:980px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.instruction{
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}

.container {
    border: 2px solid #ccc;
    padding: 10px;
    min-height: 100px;
}
.draggable {
    padding: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    margin: 5px;
}

.drop-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #1d0101;
    border-radius: 5px;
}

.tick {
    color: green;
}
.cross {
    color: red;
}

.tick,
.cross{
  font-size: 30px;
  margin-left: 10px;
}

@media only screen and (min-width: 600px) {
    .content {
        max-width: 1200px;
        margin: 0 auto; 
    }
}