body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width:980px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
  
.instruction{
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}

.passage {
    border: 2px solid #ccc;
    padding: 10px;
    min-height: 100px;
}

.questions-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.option {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 10px;
}

.option p {
    margin-left: 20px;
}

.tick,
.cross{
    font-size: 30px;
    margin-left: 10px;
}

.tick {
    color: green;
}

.cross {
    color: red;
}

.conversation {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #141212;
    font-size: 16px;
    max-width: calc(100% - 40px); /* Adjust the value to accommodate padding and border */
    box-sizing: border-box; 
}
  